
body {
    background-color: #EAF6F6;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
    border-color: grey;
    border-style: dotted none none none;
    border-width: 7px;
    width: 8%;
    opacity: .2;
}

#profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

#reverse-field {
    display: inline-block;
}

#kayaker:visited {
    color: blue;
    text-decoration: none;
}

#climber:visited {
    color: blue;
    text-decoration: none;
}

#page-link:visited {
    color: blue;
    text-decoration: none;
}
